.productNavBtn{
	-fx-background-color:#fff;
	-fx-border-style:none;
}
.productNavBtn:hover{
	-fx-text-fill:#fff;
	-fx-background-color:#000;
}
.productAddCartBtn{
	-fx-background-color: #f47a86;
	-fx-border-color:#e31416;
}
.productPurchaseBtn{
	-fx-background-color:#e31416;
	-fx-text-fill:#fff;
}